.translate {
  &.whiteBackground {
    background-color: #fff;

    .global {
      color: #000 !important;
    }
    .selectedLanguage {
      color: #000 !important;
    }
  }

  position: relative;

  .global {
    font-size: 18px;
    cursor: pointer;
  }

  .selectLanguage {
    position: absolute;
    top: calc(100% + 5px);
    // background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    display: flex;
    flex-direction: column;

    &.left {
      left: 0;
    }
    &.right {
      right: 0s;
    }

    .select {
      font-weight: 600;
    }
    span {
      width: 100%;
      height: 1px;
      background: $primary;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}
